.container
  .row
    .col
      .jumbotron
        %h1.display-0 Welcome!
        %hr.my-2
        %p
  %link{:href => "https://www.w3schools.com/w3css/4/w3.css", :rel => "stylesheet"}/
  %link{:href => "https://www.w3schools.com/lib/w3-theme-black.css", :rel => "stylesheet"}/
  %link{:href => "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css", :rel => "stylesheet"}/
  .w3-row-padding.w3-center.w3-margin-top
    .w3-third
      .w3-card.w3-container{:style => "min-height:50px"}
        %h3 Configuration
        %br/
        %i.fa.fa-desktop.w3-margin-bottom.w3-text-theme{:style => "font-size:50px"}
    .w3-third
      .w3-card.w3-container{:style => "min-height:50px"}
        %h3 Alerts
        %br/
        %i.fa.fa-css3.w3-margin-bottom.w3-text-theme{:style => "font-size:50px"}
    .w3-third
      .w3-card.w3-container{:style => "min-height:50px"}
        %h3 MIS
        %br/
        %i.fa.fa-diamond.w3-margin-bottom.w3-text-theme{:style => "font-size:50px"}
